@{
    ViewData["Title"] = "Resultado";
}
@if(ViewBag.resultado)
{
    <h1>¡Ganaste!</h1>
}else
{
    <h1>¡Perdiste!</h1>
}
<ul class="palabra">
@foreach(char c in ViewBag.palabraMostrar)
{
    <li>@(c + " ")</li>
}
</ul>
<h2>Letras utilizadas</h2>
<ul>
@foreach(char c in ViewBag.letrasUsadas)
{
    if(ViewBag.palabraElegida.Contains(c))
    {
        <li class="correctas">@(" " + c)</li>
    }else
    {
        <li class="incorrectas">@(" " + c)</li>
    }
}
</ul>
<h3>Intentos @ViewBag.intentos</h3>